/* PERSONAL DATA */

#personal-data {
  background-color: rgba(0, 128, 128, 0.3);
}
#personal-data ul {
  color: white;
}

.photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: right;
  margin-right: 10px;
}


/* RESUME */

#resume {
  background-color: #faebd7;
  padding: 30px 25px;
}

#resume aside {
  float: right;
  width: 100px;
  height: 100px;
}


/* EXPERIENCE */

#experience {
  background-color: #a9a9a9;
}

.experience-company {
  margin-top: 40px;
}

.skill {
  background-color: white;
  padding: 4px 6px;
  border-radius: 5px;
  line-height: 2em;
}


/* IMAGES */

#images .image-list {
  padding: 0;
  text-align: center;
}

#images .image-item {
  list-style: none;
  display: inline-block;
  width: 32%;
}

#images .image-item img {
  width: 100%;
}


/* LANGUAGES */

.languages-list {
  margin: 0 auto;
}

.languages-list th {
  color: #aaa;
  /* color: #FFF; */
}

.languages-list td,
.languages-list th {
  padding: 10px;
}


/* VIDEO */

#video video {
  width: 85%;
}


/* MAP */

#map header {
  margin: 0;
}

#map iframe {
  width: 100%;
  height: 300px;
}
