.center {
  text-align: center !important; /* stylelint-disable-line declaration-no-important */
}

.center-block {
  margin: 0 auto;
  display: block;
}

.hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}
